@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

b,
strong{
	font-variant: normal;
	text-transform: uppercase;
}

article,
section{
	break-after: page;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] header{
	font-variant: small-caps;
	margin: 1em;
}

[epub|type~="z3998:poem"] header p{
	text-align: center;
}

[epub|type~="z3998:poem"] header + p{
	margin-top: 0;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}

p span.i5{
	padding-left: 6em;
	text-indent: -1em;
}

p span.i6{
	padding-left: 7em;
	text-indent: -1em;
}

p span.i7{
	padding-left: 8em;
	text-indent: -1em;
}

p span.i8{
	padding-left: 9em;
	text-indent: -1em;
}

p span.i9{
	padding-left: 10em;
	text-indent: -1em;
}

p span.i12{
	padding-left: 13em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] hgroup > p{
	text-align: center;
}

/* caesurae */
span > span + span{
	margin-left: 1.5em;
}

#parturition > p:nth-child(3) > span:nth-child(17) > span + span,
#parturition > p:nth-child(6) > span:nth-child(19) > span + span{
	margin-left: 7em;
}

#the-effectual-marriage footer{
	margin-top: 1em;
}

#the-effectual-marriage footer span{
	display: inline;
	padding-left: 0;
	text-indent: 0;
}

#the-effectual-marriage footer p + p{
	margin-top: 0;
	text-align: right;
}

#crab-angel-song{
	margin-bottom: 1em;
}

#anglo-mongrels-and-the-rose-mongrel-rose-ova-begins-to-take-notice > p:nth-child(39){
	text-align: center;
	width: 6em;
}
